html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: var(--main-font);
}
*, *:before, *:after {
    box-sizing: inherit;
}

.montserrat-typeface {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 24px;
    font-style: normal;
}

:root {
    font-size: 16px;
    --main-font: Montserrat, sans-serif;
    --main-font-size: 18px;
    --head-font-size: 24px;
    --subheading-font-size: 24px;
    --card-height: 600px;
    --space-unit: 1em;
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 32px;
    --space-lg: 48px;
    --space-xl: 64px;
    --space-xxl: 96px;

    --color-primary: #6216a2;
    --color-secondary: rgba(33, 23, 49, 0.4);

    --color-text: rgb(202, 175, 224);
    --color-text2: rgb(150, 132, 165);
    --color-dot: #0c0c0c;
    --color-dot-back: rgba(44, 44, 44, 0.7);
    --color-image-back: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 600px) {
    :root {
        --space-unit: 0.75em;
    }
}

.subheading {
    font-family: var(--main-font);
    font-size: var(--subheading-font-size);
    margin-top: 18px;
    margin-bottom: 24px;
}

body {
    color: var(--color-text);
    font-size: var(--main-font-size);
    line-height: 1.6;
}

.cover-title {
    font-size: var(--head-font-size);
    font-family: var(--main-font);
    margin: auto auto 12px 24px;
}

.short-desc {
    font-size: var(--main-font-size);
    font-family: var(--main-font);
    margin: auto auto 12px 24px;
}

.item-cover-image-lg {
    width: 10em;
    margin-top: auto;
}

.item-cover-image-md {
    width: 14em;
    margin-top: auto;
}

.item-cover-image {
    width: 18em;
    margin-top: auto;
}

.cover-price {
    display: flex;
    font-family: var(--main-font);
    font-size: 48px;
    color: white;
    font-weight: bolder;
    align-self: center;
    margin: auto auto 12px 24px;
    padding-bottom: 12px;
}

.product-price {
    display: flex;
    font-family: var(--main-font);
    font-size: 48px;
    color: white;
    font-weight: bolder;
    margin-top: 24px;
    justify-self: right;
}

@media (min-width: 601px) {

    .home-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        
        width: 100%;
        height: var(--card-height);
        padding: 0 24px;
        
        box-sizing: border-box;
        box-shadow: inset 4px 4px 12px black, inset -4px -4px 12px black;
        background-color: var(--color-secondary);
        border-radius: 12px;
        overflow: hidden;
        z-index: 0;
    }

    .home-card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 600px) {
    .home-card {
        max-height: 540px;
        box-sizing: border-box;
        border-width: 6px;
        border-style: solid;
        border-color: #0a080f;
        background-color: var(--color-secondary);
        border-radius: 12px;
        display: inline-block;
        padding: 36px 36px;
        overflow: hidden;
        z-index: 0;
    }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
