/*
    Author: Luca Villella
    Date: 6 June 2025
    File: layout.css
    Description: CSS stylesheet for laying out html elements and CSS layout methods
*/

/*Flex box for index.html layout*/
.page-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

/*Cards for the product list page*/
.flex-cards {
    width: 70vw;
    height: calc(5 * var(--card-height));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xl);
    padding: var(--space-xl);
    box-sizing: border-box;
    overflow-y: auto;
}

.flex-cards a {
    text-decoration: none;
    color: inherit;
}

/*Styling for the sidebars on home and product listing pages*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    padding: var(--space-xl);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/*Styling for main wrapper on product info pages*/
.product-card {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 540px;
    margin: var(--space-xl);
    padding-right: var(--space-xs);
    text-wrap: wrap;
    box-shadow: var(--card-shadow);
    background-color: var(--color-secondary);
    border-radius: var(--space-sm);
    justify-items: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.03, 1.03);
}

.product-card-grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.product-card-grid a {
    text-decoration: none;
    color: inherit;
}

.product-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 20em 8em auto;
    gap: var(--space-xxl);
    width: 80vw;
    align-items: start;
}

.product-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 24px;
    padding: var(--space-lg);
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    text-wrap: wrap;
    box-shadow: var(--card-shadow);
    background-color: var(--color-secondary);
    border-radius: var(--space-sm);
    justify-items: center;
    align-items: center;
}

/*Stack styling for text chunks in menu subpages*/
.stack {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: var(--space-lg);
    padding: var(--space-lg);
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    text-wrap: wrap;
    box-shadow: var(--card-shadow);
    background-color: var(--color-secondary);
    border-radius: 12px;
    justify-items: center;
    align-items: left;        
}

.stack > p + h3 {
    margin-top: 2rem;
}

.stack > p + h3 {
    margin-top: 2rem;
}

.stack > h3 {
    font-weight: bold;
    font-size: 1.4rem;
}

.feature-list li {
    margin: 0.5rem 2.5rem;
    font-size: 1rem;
    color: var(--color-text);
    list-style-type: circle;
}

.cart-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 8em;
    bottom: var(--space-lg);
    right: var(--space-lg);
    background-color: var(--color-secondary);
    padding: var(--space-md);
    border-radius: var(--space-sm);
    box-shadow: var(--card-shadow);
}

/*Styling for quantity box on product infos pages*/
.quantity-box {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: auto;

}

.quantity-selector {
    align-self: center;
    font-size: var(--space-lg);

}

/*Styling for slide out menu overlay*/
.slide-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.slide-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(127, 120, 134, 0.85);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
}

.slide-menu-overlay.active {
    display: block;
}

.slide-menu.active {
    transform: translateX(0);
}  

.slide-menu .close-menu {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.slide-menu ul {
    list-style: none;
    justify-items: end;

    padding: 0;
    margin: auto 0 auto 0;
}

.slide-menu ul li {
    margin: 24px 0;
}

.slide-menu ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

/*Styling for purchase-successful page thank you message*/
.thank-you-msg {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1em;
}

.thank-you-msg > p {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.thank-you-msg > img {
    width: 4em;
    height: 4em;
}

/*Styling specifically for mobile devices (under 768 pixels wide)*/
@media (max-width: 768px) {
    .page-layout {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }

    .flex-cards {
        width: 100vw;
        height: calc(5 * var(--card-height));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-lg);
        padding: var(--space-lg);
        box-sizing: border-box;
        overflow-y: auto;
        padding-top: 0;
    }

    .flex-cards a {
        text-decoration: none;
        color: inherit;
    }

    .sidebar {
        display: flex;
        position: static;
        width: 100vw;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: var(--space-sm);
        gap: var(--space-sm);
        background: transparent;
        box-shadow: none;
    }

    .sidebar-large {
        display: flex;
        position: static;
        width: 100vw;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: end;;
        padding: var(--space-sm);
        gap: var(--space-sm);
        background: transparent;
        box-shadow: none;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        width: 46vw;
        height: 50vh;
        margin: var(--space-xxs);
        padding: var(--space-xs);
        text-wrap: wrap;
        box-shadow: var(--card-shadow);
        background-color: var(--color-secondary);
        border-radius: var(--space-sm);
        justify-items: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    .product-card:hover {
        transform: scale(1.03, 1.03);
    }

    .product-card-grid {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
    }

    .product-card-grid a {
        text-decoration: none;
        color: inherit;
    }

    /*Styling for product listing filtering options on mobile*/
    .sort-tab-mobile {
        width: 45vw;
    }

    .filter-tab-mobile {
        width: 45vw;

    }

    .product-info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18em 8em auto;
        gap: var(--space-lg);
        width: var(--standard-width);
        align-items: start;
    }

    .product-info-wrapper {
        width: var(--standard-width);
        height: auto;
        margin: 0px 24px 24px 24px;
        padding: var(--space-lg);
        text-wrap: wrap;
        grid-column: 1 / 4;
        grid-row: 1 / -1;
        box-shadow: var(--card-shadow);
        background-color: var(--color-secondary);
        border-radius: var(--space-sm);
        justify-items: center;
        align-items: center;
    }

    .stack {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: var(--space-lg);
        padding: var(--space-lg);
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        text-wrap: wrap;
        box-shadow: var(--card-shadow);
        background-color: var(--color-secondary);
        border-radius: 12px;
        justify-items: center;
        align-items: left;        
    }

    .stack > p + p {
        margin-top: var(--space-lg);
    }

    .stack > h3 {
        font-weight: bold;
        font-size: 1.4rem;
    }

    .title-text {
        font-size: 2rem;
        margin: 0 auto 0 auto;
    }

    .text-column {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        padding: 0px 24px 0px 24px;
        margin-bottom: var(--space-sm);
    }

    .product-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: var(--space-md);
    }

    .feature-list li {
        margin: 0.5rem 2.5rem;
        font-size: 1rem;
        color: var(--color-text);
        list-style-type: circle;
    }

    .cart-sidebar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-self: center;
        width: var(--standard-width);
        margin-top: var(--space-sm);
        margin-left: 40px;
        height: 6em;
        background-color: var(--color-secondary);
        padding: var(--space-md);
        border-radius: var(--space-sm);
        box-shadow: var(--card-shadow);
        align-items: center;
        justify-content: center;
    }

    .quantity-box {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 0px;
    }

    .quantity-selector {
        align-self: center;
        font-size: var(--space-lg);

    }

    .page-wrapper {
        display: flex;
        flex-direction: column;
    }

    .slide-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background: rgba(0, 0, 0, 0.6);
        display: none;
    }

    .overlay-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .slide-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(127, 120, 134, 0.85);
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
        padding: var(--space-lg);
        display: flex;
        flex-direction: column;
    }

    .slide-menu-overlay.active {
        display: block;
    }

    .slide-menu.active {
        transform: translateX(0);
    }  

    .slide-menu .close-menu {
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .slide-menu ul {
        list-style: none;
        justify-items: end;

        padding: 0;
        margin: auto 0 auto 0;
    }

    .slide-menu ul li {
        margin: 24px 0;
    }

    .slide-menu ul li a {
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
    }

    .thank-you-msg {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        gap: 1em;
    }

    .thank-you-msg > p {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .thank-you-msg > img {
        width: 4em;
        height: 4em;
    }

    .confirmed-text {
        text-align: center;
    }
}