.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  filter: brightness(50%)
}

@media (max-width: 600px) {
  .fixed-bg {
    background-image: url('../images/background-gradient-portrait.jpg');
    }
}

@media (min-width: 601px) {
    .fixed-bg {
        background-image: url('../images/background-gradient-landscape.jpg');
    }

}

p {
    font-family: var(--main-font);
}

.home-card-image {
    width: 25%;
    margin-left: 96px;
    margin-bottom: 12px;
}

.top-card {
    width: 60%;
    margin-left: 0;
    margin-bottom: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
}

#modal-close {
    position: absolute;
    top: 24px;
    right: 36px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}  

@media (max-width: 600px) {

    .home-card-image {
        align-self: center;
        justify-self: center;
        margin-bottom: 12px;
    }

    .home-card-image {
        width: 50%;
        margin-left: 0;
        margin-bottom: 12px;
    }

    .top-card {
        width: 70%;
        margin-left: 0;
        margin-bottom: 12px;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal img {
        max-width: 80vw;
        max-height: 80vh;
        border-radius: 8px;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
    }

    #modal-close {
        position: absolute;
        top: 24px;
        right: 36px;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

}